* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
  background: #f8fafc;
}

.app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}
